<section id="services-section">
  <div class="services-container__external">
    <div class="services-container__info">
      <div class="services-container__texts">
        <h1>Serviços fornecidos pela <strong>USINA</strong></h1>
        <p>
          Na USINA, oferecemos uma gama diversificada de serviços para atender
          às necessidades específicas da sua empresa. Nossos principais serviços
          incluem:
        </p>
      </div>
    </div>
    <div class="services-box__external">
      <div class="services-box__grid">
        <div *ngFor="let works of services" class="grid-box">
          <img
            class="box-icon"
            src="{{ works.icon }}"
            alt="{{ works.title }}"
          />
          <h3>{{ works.title }}</h3>
          <p>
            {{ works.description }}
          </p>
          <div>
            <a routerLink="/works/{{ works.tag }}">Saiba mais ➔</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
