@import "../../../scss/colors.scss";

#services-section {
  height: 100%;
  width: 100%;

  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  background: $bg-second-gradient;
}

.services-container__external {
  width: 80%;
  margin: 2% auto;
  height: 93%;
}

.services-container__info {
  width: 50%;
  margin-top: 5%;
}

.services-container__texts {
  width: 70%;

  strong {
    color: $text-primary;
  }
  h5 {
    font-size: 1.7rem;
    &::before {
      content: "●";
      margin-right: 10px;
      color: $text-primary;
    }
    &::after {
      content: "●";
      margin-left: 10px;
      color: $text-primary;
    }
  }

  h1 {
    margin: 20px 0 20px 0;
  }

  p {
    color: $text-secondary;
  }
}

.services-box__grid {
  display: flex;
  flex-flow: row wrap;
}

.grid-box {
  border: 1px solid $text-primary;
  border-radius: 10px;
  height: 18rem;
  padding: 1rem;
  max-width: 30%;
  min-width: 336px;
  margin: 1% 1% 1% 0;
  color: $text-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: 1000% 800%;
  transition: background-position 0.3s ease-in-out;

  &:hover {
    background-image: linear-gradient(to right, transparent 0%, #4a4e69 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-in-out;
  }

  &:not(:hover) {
    background-image: linear-gradient(to left, transparent 0%, #4a4e69 100%);
    background-position: 100% 0;
  }
}

.box-icon {
  width: 50px;
  margin: 13px 13px 13px 0;
  color: wheat;
}

a {
  color: $text-primary;
  text-decoration: none;
  object-position: bottom;
}
