<nav class="navbar">
  <div>
    <div>
      <button class="btn toggler-position">
        <img
          (click)="toggle()"
          class="toggle-icon-open"
          [ngClass]="{ 'toggle-icon-close': isCollapsed }"
        />
      </button>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1000">
      <ul [ngClass]="{ 'nav-list-toggle': isCollapsed }" class="nav-list">
        <li>
          <a (click)="toggle()" href="#">Início</a>
        </li>
        <li>
          <a (click)="toggle()" href="#about-section">Sobre Nós</a>
        </li>
        <li>
          <a (click)="toggle()" href="#services-section">Serviços</a>
        </li>
        <li>
          <a (click)="toggle()" href="#projects-section">Projetos</a>
        </li>
        <li>
          <a (click)="toggle()" href="#location-section">Localização</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
