@import "../../../scss/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 9;
}

ul {
  list-style-type: none;

  li {
    padding: 20px;
  }
}

a {
  color: $text-secondary;

  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  vertical-align: top;

  text-justify: start;

  &:hover {
    color: $text-primary;
  }
}

.toggler-position {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(
    10px
  ); /* Para compatibilidade com navegadores WebKit (Safari) */
}
