<nav data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000">
  <div class="container-fluid">
    <div>
      <button class="btn bg-transparent toggler-position">
        <img
          (click)="toggle()"
          class="toggle-icon-open"
          [ngClass]="{ 'toggle-icon-close': isCollapsed }"
        />
      </button>
    </div>
    <div>
      <ul [ngClass]="{ 'nav-list-toggle': isCollapsed }" class="nav-list">
        <li>
          <a (click)="toggle()" href="#">Início</a>
        </li>
        <li>
          <a (click)="toggle()" href="#about-section">Sobre Nós</a>
        </li>
        <li>
          <a (click)="toggle()" href="#services-section">Serviços</a>
        </li>
        <li>
          <a (click)="toggle()" href="#projects-section">Projetos</a>
        </li>
        <li>
          <a (click)="toggle()" href="#contact-section">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
