<section id="home-section">
  <div class="center-container">
    <div class="center-container__content">
      <div class="content__texts">
        <img
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          src="../../../../assets/home/logo-img.png"
          alt="usina-logo"
        />
        <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
          <p>Comunicação Visual</p>
        </div>
        <div
          class="social-medias"
          data-aos="fade-down"
          data-aos-delay="400"
          data-aos-duration="1000"
        >
          <a href="https://www.instagram.com/usina_rr/" target="_blank">
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/instagram-icon.png"
              alt="icone do instagram"
            />
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=100069892012805"
            target="_blank"
          >
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/facebook-icon.png"
              alt="ícone do facebook"
            />
          </a>
          <a href="http://wa.me/message/YHAI2YRP63W4E1" target="_blank">
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/whatsapp-icon.png"
              alt="icone do whatsapp"
            />
          </a>
        </div>
      </div>
    </div>

    <div
      class="arrow-down"
      data-aos="fade-down"
      data-aos-delay="700"
      data-aos-duration="1000"
    >
      <a href="#about-section">
        <img
          src="../../../../assets/icons/arrow-icon.png"
          alt="seta para baixo"
        />
      </a>
    </div>
  </div>
</section>
