@media (min-width: 270px) {
  .center-container__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .content__texts {
      width: 90%;
      img {
        max-width: 100%;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .center-container__content {
    .content__texts {
      img {
        width: 600px;
      }
    }
  }
}
