<section id="about-section">
  <!-- Vai dividir duas divs filhas -->
  <div class="about-container_external">
    <!-- container de informações -->
    <div class="about-container_info">
      <div class="about-container__texts">
        <h5>Sobre a Usina</h5>
        <h1>Transformamos suas ideias em projetos reais</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia
          molestiae dolorum tempora ut accusamus cupiditate! Nesciunt tempora
          reiciendis libero voluptate!
        </p>
      </div>
      <!-- Container de todas as boxes-->
      <div class="about-container__boxes row">
        <!-- Caixa singular -->
        <!-- COLUNA 1 -->
        <div class="col-xl-6">
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/inovation-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Inovação</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                odit!
              </p>
            </div>
          </div>
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/experience-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Experiência</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                odit!
              </p>
            </div>
          </div>
        </div>
        <!-- COLUNA 2 -->
        <div class="col-xl-6">
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/quality-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Qualidade</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                odit!
              </p>
            </div>
          </div>
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/price-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Preços Competitivos</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
                odit!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- container da imagem -->
    <div class="image-container">
      <img class="img-fluid" src="../../../../assets/about-img.png" alt="" />
    </div>
  </div>
</section>
