<section id="about-section">
  <!-- Vai dividir duas divs filhas -->
  <div class="about-container__external">
    <!-- container de informações -->
    <div class="about-container__info">
      <div class="about-container__texts">
        <h5>Sobre a <strong>Usina</strong></h5>
        <h1>
          Transformamos suas <strong>IDEIAS</strong> em projetos
          <strong>REAIS</strong>
          <img
            class="emphasis-risk"
            src="../../../../assets/about-icons/risk.png"
            alt=""
          />
        </h1>
        <p>
          Nossos especialistas altamente qualificados garantem uma implementação
          bem-sucedida dos serviços solicitados, permitindo que você se
          concentre no que realmente importa – o crescimento e o sucesso
          contínuo da sua empresa.
        </p>
      </div>
      <!-- Container de todas as boxes-->
      <div class="about-container__boxes row">
        <!-- Caixa singular -->
        <!-- COLUNA 1 -->
        <div class="col-xl-6">
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/inovation-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Inovação</h5>
              <p>
                A Usina trabalha com o que há de mais moderno no mercado atual.
              </p>
            </div>
          </div>
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/experience-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Experiência</h5>
              <p>
                Uma equipe bem treinada e experiente para proporcionar a melhor
                experiência.
              </p>
            </div>
          </div>
        </div>
        <!-- COLUNA 2 -->
        <div class="col-xl-6">
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/quality-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Qualidade</h5>
              <p>
                A junção de inovação, experiência e competitividade agregam
                altos valores qualitativos.
              </p>
            </div>
          </div>
          <div class="about-container__box">
            <img
              class="boxes-img"
              src="../../../../assets/about-icons/price-icon.png"
              alt=""
            />
            <!-- Div para poder deixar o texto ao lado da imagem-->
            <div class="box-text">
              <h5>Preços Competitivos</h5>
              <p>
                O Custo X Benefício ideal para tirar os seus projetos do papel e
                torná-los reais.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- container da imagem -->
    <div class="image-container" (mousemove)="moveImage($event)">
      <img
        class="img-fluid imagem"
        [style.transform]="
          'translate(' + translateX + 'px, ' + translateY + 'px)'
        "
        src="../../../../assets/about-img.png"
        alt=""
      />
    </div>
  </div>
</section>
