// cores bases
$bg-main: rgba(20, 33, 61, 1);
$bg-second: #081c15;
$bg-third: #4a4e69;

// gradients
$home-linear-gradient: linear-gradient(
  0deg,
  rgba(14, 30, 40, 1) 5%,
  rgba(8, 28, 21, 0.1) 100%
);

$about-linear-gradient: linear-gradient(
  180deg,
  rgba(14, 30, 40, 1) 5%,
  rgba(8, 28, 21.1)
);

$bg-gradient: radial-gradient(circle, $bg-main 0%, $bg-second 100%);

// textos
$text-primary: #ffee32;
$text-secondary: #d8f3dc;
