// cores bases
$bg-main: rgba(20, 33, 61, 1);
$bg-second: #081c15;
$bg-third: #4a4e69;
// gradients
$bg-gradient: radial-gradient(circle, $bg-main 0%, $bg-second 100%);

// textos
$text-primary: #ffee32;
$text-secondary: #d8f3dc;
