@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 8));
  }
}

@import "../../../scss/colors.scss";

section {
  background-color: $bg-second;
  margin-top: 5rem;

  h1 {
    color: $text-primary;
    margin-top: 3rem;
  }
}

#clients-section {
  height: 50vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.slider {
  height: 200px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}

.slide-track {
  display: flex;
  width: calc(200px * 16);
  animation: scroll 30s linear infinite;
}

.slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
}

img {
  width: 75%;
  border-radius: 10px;
}
