@import "../../../scss/colors.scss";

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

section {
  background-color: #081c15;
  margin-top: 5rem;
}

#clients-section {
  height: 50vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;

  h1 {
    color: $text-primary;
  }
}

.logos {
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  display: inline;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  background-color: white;
}
