<section>
  <div id="clients-section">
    <h1 class="text-center">Empresas que confiam em nós</h1>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="../../../../assets/logos-icons/1.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/2.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/3.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/4.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/5.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/6.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/7.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/8.jpg" />
        </div>

        <div class="slide">
          <img src="../../../../assets/logos-icons/1.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/2.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/3.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/4.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/5.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/6.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/7.jpg" />
        </div>
        <div class="slide">
          <img src="../../../../assets/logos-icons/8.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
