<section class="text-center">
  <div id="clients-section">
    <h1>Empresas que confiam em nós</h1>
    <div class="logos">
      <div class="logos-slide">
        <img src="../../../../assets/logos-icons/1.jpg" />
        <img src="../../../../assets/logos-icons/2.jpg" />
        <img src="../../../../assets/logos-icons/3.jpg" />
        <img src="../../../../assets/logos-icons/4.jpg" />
        <img src="../../../../assets/logos-icons/5.jpg" />
        <img src="../../../../assets/logos-icons/6.jpg" />
        <img src="../../../../assets/logos-icons/7.jpg" />
        <img src="../../../../assets/logos-icons/8.jpg" />
      </div>

      <div class="logos-slide">
        <img src="../../../../assets/logos-icons/1.jpg" />
        <img src="../../../../assets/logos-icons/2.jpg" />
        <img src="../../../../assets/logos-icons/3.jpg" />
        <img src="../../../../assets/logos-icons/4.jpg" />
        <img src="../../../../assets/logos-icons/5.jpg" />
        <img src="../../../../assets/logos-icons/6.jpg" />
        <img src="../../../../assets/logos-icons/7.jpg" />
        <img src="../../../../assets/logos-icons/8.jpg" />
      </div>

      <div class="logos-slide">
        <img src="../../../../assets/logos-icons/1.jpg" />
        <img src="../../../../assets/logos-icons/2.jpg" />
        <img src="../../../../assets/logos-icons/3.jpg" />
        <img src="../../../../assets/logos-icons/4.jpg" />
        <img src="../../../../assets/logos-icons/5.jpg" />
        <img src="../../../../assets/logos-icons/6.jpg" />
        <img src="../../../../assets/logos-icons/7.jpg" />
        <img src="../../../../assets/logos-icons/8.jpg" />
      </div>
    </div>
  </div>
</section>
