<section class="text-center">
  <div id="clients-section">
    <h1>Empresas que confiam em nós</h1>
    <div class="logos">
      <div class="logos-slide">
        <img src="../../../../assets/logos-icons/1.svg" />
        <img src="../../../../assets/logos-icons/2.svg" />
        <img src="../../../../assets/logos-icons/3.svg" />
        <img src="../../../../assets/logos-icons/4.svg" />
        <img src="../../../../assets/logos-icons/5.svg" />
        <img src="../../../../assets/logos-icons/6.svg" />
        <img src="../../../../assets/logos-icons/7.svg" />
        <img src="../../../../assets/logos-icons/8.svg" />
      </div>

      <div class="logos-slide">
        <img src="../../../../assets/logos-icons/1.svg" />
        <img src="../../../../assets/logos-icons/2.svg" />
        <img src="../../../../assets/logos-icons/3.svg" />
        <img src="../../../../assets/logos-icons/4.svg" />
        <img src="../../../../assets/logos-icons/5.svg" />
        <img src="../../../../assets/logos-icons/6.svg" />
        <img src="../../../../assets/logos-icons/7.svg" />
        <img src="../../../../assets/logos-icons/8.svg" />
      </div>
    </div>
  </div>
</section>
