@media (max-width: 991px) {
  .about-container__external {
    width: 90%;
  }

  .about-container__info {
    margin-top: 5rem;
    width: 100%;
  }
  .about-container__texts {
    width: 100%;
  }
  .about-container__external .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
