.not-found {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.not-found h1 {
  font-size: 3em;
  color: #ff0000;
}

.not-found p {
  font-size: 1.5em;
}

.not-found a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.not-found a:hover {
  background-color: #0056b3;
}
