@import "../../../scss/colors.scss";
#projects-section {
  max-width: 100%;
  height: 100%;
  background: $bg-main;
  background: $bg-gradient;
  color: $text-secondary;
  width: 100%;
}

.projects-container__external {
  width: 70%;
}
