<section id="projects-section">
  <div class="projects-container__external">
    <div class="projects-container__info">
      <h1>Explore nossos projetos</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam illo
        provident dignissimos in maiores assumenda tempora sed perferendis
        voluptate repellendus.
      </p>
    </div>
    <div class="projects-grid">
      <div *ngFor="let item of visibleProjects" class="grid-box">
        <a routerLink="/projetos/{{ item.id }}">
          <img class="grid-box__img" src="{{ item.image }}" alt="" />
        </a>
      </div>
    </div>
    <button
      *ngIf="imagensPorPagina < projects.length"
      (click)="showMore()"
      class="btn btn-danger"
    >
      Ver mais
    </button>
  </div>
</section>
