<section id="home-section">
  <div class="banner">
    <video #videoElement muted loop>
      <source
        src="../../../../assets/home/background-video-2.mp4"
        type="video/mp4"
        #video
      />
    </video>
  </div>

  <div class="center-container">
    <div class="center-container__content">
      <div class="content__texts">
        <img src="../../../../assets/home/logo-home-teste2.png" alt="" />
      </div>
      <div class="social-medias">
        <a href="">
          <img
            class="social-medias__icon"
            src="../../../../assets/icons/instagram-icon.png"
            alt="icone do instagram"
          />
        </a>
        <a href="#">
          <img
            class="social-medias__icon"
            src="../../../../assets/icons/facebook-icon.png"
            alt="ícone do facebook"
          />
        </a>
        <a href="">
          <img
            class="social-medias__icon"
            src="../../../../assets/icons/whatsapp-icon.png"
            alt="icone do whatsapp"
          />
        </a>
      </div>
      <div class="magic-button">
        <button (click)="playBackground()" class="btn btn-outline-secondary">
          Clique aqui
        </button>
      </div>
    </div>

    <div class="arrow-down">
      <img
        src="../../../../assets/icons/arrow-icon.png"
        alt="seta para baixo"
      />
    </div>
  </div>
</section>
