@import "../../../scss/fonts.scss";
@import "../../../scss/colors.scss";
// Animação para flutuação
@keyframes floatUp {
  0% {
    transform: translateY(0); /* Começa sem deslocamento */
  }
  50% {
    transform: translateY(-20px); /* Flutua para cima */
  }
  100% {
    transform: translateY(0); /* Volta à posição inicial */
  }
}

#home-section {
  height: 85vh;
  width: 100%;
}

// Centraliza o conteúdo total da home-page
.center-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: $home-linear-gradient;
  /* Esse height acima de 100 serve para criar o degrade entre o efeito de nuvens e a cor
   para a próxima seção */
  height: 86vh;
}

// Delimita os conteúdos do centro dentro de um container
.center-container__content {
  .content__texts {
    width: 100%;
    margin-top: 100px;

    p {
      text-align: center;
      font-size: 1.7rem;
      color: white;
    }

    .social-medias {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      a {
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
          margin: 1.2rem 1.2rem 1.2rem 0;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: rotateZ(360deg);
          }
        }
      }
    }
  }
}

.arrow-down {
  animation: floatUp 2s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 45px;
    height: 50px;
  }
}
