<section id="home-section">
  <div class="home-section__center-container">
    <div class="center-container__content">
      <h1>USINA</h1>
      <div>
        <p>Comunicação Visual</p>
      </div>
      <div class="social-medias">
        <a href="" class="social-medias__icon"
          ><img
            src="../../../../assets/icons/instagram-icon.png"
            alt="icone do instagram"
        /></a>
        <a href="" class="social-medias__icon"
          ><img
            src="../../../../assets/icons/facebook-icon.png"
            alt="ícone do facebook"
        /></a>
        <a href="" class="social-medias__icon"
          ><img
            src="../../../../assets/icons/whatsapp-icon.png"
            alt="icone do whatsapp"
        /></a>
      </div>
    </div>
    <img />
  </div>
  class="arrow-down" src="../../../../assets/icons/arrow-icon.png" alt="seta
  apontando para baixo"

  <div class="bg-img"></div>
</section>
