@import "../../../scss/fonts.scss";

// Animação para flutuação
@keyframes floatUp {
  0% {
    transform: translateY(0); /* Começa sem deslocamento */
  }
  50% {
    transform: translateY(-20px); /* Flutua para cima */
  }
  100% {
    transform: translateY(0); /* Volta à posição inicial */
  }
}

#home-section {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../assets/icons/teste.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

// Centraliza o conteúdo total da home-page ao centro
.center-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

// Delimita os conteúdos do centro dentro de um container
.center-container__content {
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;

  .content__texts {
    h1 {
      margin-top: 5rem;
      font-size: 6.5rem;
      font-family: $usina-font;
    }
    p {
      font-size: 30px;
    }
  }
}
// Impede a quebra de layout do h1
@media (min-width: 390px) {
  .center-container__content .content__texts {
    h1 {
      font-size: 8rem;
    }
  }
}

@media (min-width: 564px) {
  .center-container__content .content__texts {
    h1 {
      font-size: 13rem;
    }
  }
}

.social-medias {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      margin: 1.2rem 1.2rem 1.2rem 0;
    }
  }
}

.magic-button {
  button {
    padding: 15px;
    color: white;
    border-radius: 0 20px 0 20px;
  }
}

.arrow-down {
  animation: floatUp 2s ease-in-out infinite;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    width: 60px;
    height: 50px;
  }
}
