<section id="home-section">
  <div class="center-container">
    <div class="center-container__content">
      <div class="content__texts">
        <img src="../../../../assets/home/logo-img.png" alt="usina-logo" />
        <div>
          <p>Comunicação Visual</p>
        </div>
        <div class="social-medias">
          <a href="">
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/instagram-icon.png"
              alt="icone do instagram"
            />
          </a>
          <a href="#">
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/facebook-icon.png"
              alt="ícone do facebook"
            />
          </a>
          <a href="">
            <img
              class="social-medias__icon"
              src="../../../../assets/icons/whatsapp-icon.png"
              alt="icone do whatsapp"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="arrow-down">
      <a href="#about-section">
        <img
          src="../../../../assets/icons/arrow-icon.png"
          alt="seta para baixo"
        />
      </a>
    </div>
  </div>
</section>
