@import "../../../scss/fonts.scss";

// Animação para flutuação
@keyframes floatUp {
  0% {
    transform: translateY(0); /* Começa sem deslocamento */
  }
  50% {
    transform: translateY(-20px); /* Flutua para cima */
  }
  100% {
    transform: translateY(0); /* Volta à posição inicial */
  }
}

#home-section {
  height: 95vh;
  width: 100%;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: right;
  z-index: -1;
  position: absolute;

  video {
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

// Centraliza o conteúdo total da home-page ao centro
.center-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

// Delimita os conteúdos do centro dentro de um container
.center-container__content {
  height: 90vh;
  // width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  color: white;

  .content__texts {
    img {
      width: 100%;
      height: 12rem;
    }
  }
}

.social-medias {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      margin: 1.2rem 1.2rem 1.2rem 0;
    }
  }
}

.magic-button {
  button {
    padding: 15px;
    color: white;
    border-radius: 0 20px 0 20px;
  }
}

.arrow-down {
  animation: floatUp 2s ease-in-out infinite;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
    width: 60px;
    height: 50px;
  }
}
