// Impede a quebra de layout do h1
@media (min-width: 270px) {
  .center-container__content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;

    .content__texts {
      width: 90%;
      img {
        max-width: 100%;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .center-container__content {
    .content__texts {
      img {
        width: 500px;
      }
    }
  }
}

// @media (min-width: 661px) {
//   .content__texts {
//     width: 90%;
//     object-fit: contain;
//   }
// }
