<section id="testmonials-section">
  <div id="carouselExampleIndicators" class="carousel slide h-100">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <h1 class="text-center">DEPOIMENTOS</h1>

    <div class="carousel-inner h-100">
      <!-- DEPOIMENTO 1 -->
      <div class="carousel-item active">
        <div class="item text-center">
          <h2>ÓTICA BOA VISTA</h2>
          <img src="../../../../assets/testmonials-imgs/1.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est
            repudiandae impedit odit dolorum. Alias nihil deserunt repudiandae,
            exercitationem esse provident dicta in quos. Voluptatum, mollitia.
            Iure deleniti tempora alias?
          </p>
          <div class="mt-5">
            <p class="mb-1">Yusuf Amin</p>
            <p>Founder</p>
          </div>
        </div>
      </div>
      <!-- DEPOIMENTO 2-->
      <div class="carousel-item">
        <div class="item text-center">
          <h2>GRANTERRA</h2>
          <img src="../../../../assets/testmonials-imgs/1.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est
            repudiandae impedit odit dolorum. Alias nihil deserunt repudiandae,
            exercitationem esse provident dicta in quos. Voluptatum, mollitia.
            Iure deleniti tempora alias?
          </p>
          <div class="mt-5">
            <p class="mb-1">Alahu Akbar</p>
            <p>CEO</p>
          </div>
        </div>
      </div>
      <!-- DEPOIMENTO 3 -->
      <div class="carousel-item">
        <div class="item text-center">
          <h2>CALVIN KLEIN BV</h2>
          <img src="../../../../assets/testmonials-imgs/1.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est
            repudiandae impedit odit dolorum. Alias nihil deserunt repudiandae,
            exercitationem esse provident dicta in quos. Voluptatum, mollitia.
            Iure deleniti tempora alias?
          </p>
          <div class="mt-5">
            <p class="mb-1">Fernanda Ahoi</p>
            <p>Officer</p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
