@import "../../../scss/colors.scss";
@import "../../../scss/variables.scss";

#testmonials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-secondary;

  background-color: $bg-second;
  margin: $section-margin;
}

.carousel {
  margin-top: 5rem;
}

.carousel-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  max-width: 60%;
  margin: 5% auto;

  img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid $text-primary;
    margin: 20px 0 20px 0;
    background-size: cover;
  }
}

h1 {
  color: $text-secondary;
}

h2 {
  color: $text-primary;
}
