@import "../../../scss/colors.scss";
* {
  margin: 0;
}
#testmonials-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-secondary;
  background-color: $bg-second;
  margin-top: 5rem;
}

.carousel {
  margin-top: 5rem;
}

.carousel-inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: $bg-second;
}

.item {
  max-width: 60%;
  margin: 5% auto;

  img {
    width: 50px;
    margin: 20px 0 20px 0;
  }
}

h1 {
  color: $text-secondary;
}

h2 {
  color: $text-primary;
}
