<section id="testmonials-section">
  <div id="carouselExampleIndicators" class="carousel slide h-100">
    <h1 class="text-center">DEPOIMENTOS</h1>

    <div class="carousel-inner h-100">
      <!-- DEPOIMENTO 1 -->
      <div class="carousel-item active">
        <div class="item text-center">
          <h2>Eleva - Espaço Saúde</h2>
          <img src="../../../../assets/testmonials-imgs/1.jpg" alt="" />
          <p>
            Serviço entregue com altíssima qualidade e compromisso com os
            clientes são a prioridade da usina! Obrigada por fazerem parte da
            minha história (fachada).
          </p>
          <div class="mt-5">
            <p class="mb-1">Kathleen Dias</p>
            <p>Sócia Fundadora</p>
          </div>
        </div>
      </div>
      <!-- DEPOIMENTO 2-->
      <div class="carousel-item">
        <div class="item text-center">
          <h2>Apta Odontologia</h2>
          <img src="../../../../assets/testmonials-imgs/2.jpg" alt="" />
          <p>
            Sempre fui muito ousada em acreditar que tudo é possível. Algumas
            pessoas chamam isso de sonhar demais, eu chamo isso de viver a vida!
            A reforma interna da nossa querida Apta Odonto está sendo feita com
            os melhores, a Usina.
          </p>
          <div class="mt-5">
            <p class="mb-1">Nayara</p>
            <p>CEO e RT</p>
          </div>
        </div>
      </div>
      <!-- DEPOIMENTO 3 -->
      <div class="carousel-item">
        <div class="item text-center">
          <h2>InovaTech Solutions</h2>
          <img src="../../../../assets/testmonials-imgs/3.avif" alt="" />
          <p>
            Trabalhar com a Usina foi uma experiência incrível para nossa
            empresa. Desde o início, eles demonstraram um nível excepcional de
            profissionalismo e criatividade. Entenderam perfeitamente nossas
            necessidades e entregaram um visual que superou nossas expectativas.
          </p>
          <div class="mt-5">
            <p class="mb-1">Mariana Silva</p>
            <p>CEO</p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
