<section id="projects-section">
  <div class="projects-container__external">
    <div class="projects-container__info">
      <h1>Explore nossos projetos</h1>
      <p>
        Na <strong>USINA</strong>, apresentamos uma coleção diversificada de
        projetos que exemplificam nossa dedicação à excelência e à inovação em
        comunicação visual. Nossos projetos destacados incluem:
      </p>
    </div>
    <div class="projects-grid">
      <div *ngFor="let item of visibleProjects" class="grid-box">
        <a routerLink="/projetos/{{ item.id }}">
          <img class="grid-box__img" src="{{ item.image }}" alt="" />
        </a>
      </div>
    </div>
    <button
      *ngIf="imagensPorPagina < projects.length"
      (click)="showMore()"
      class="btn btn-danger"
    >
      Ver mais
    </button>
  </div>
</section>
