<footer class="footer-container">
  <div class="footer-content">
    <div>
      <img src="../../../../assets/home/logo-img.png" alt="logo da usina" />
      <p>Comunicação Visual</p>
    </div>
    <div>
      <h5>Encontre-nos</h5>
      <p>Av. Gen. Ataíde Teive, 586 - Mecejana, Boa Vista - RR, 69304-360</p>
    </div>
    <div>
      <h5>Horários</h5>
      <p>
        Segunda à Sexta <br />
        das 08:00 às 17:30
      </p>
    </div>
    <div>
      <h5>Contatos</h5>
      <p>(95)99146-7843 <br />usina095@gmail.com</p>
    </div>
  </div>
  <div class="developer text-center mt-3">
    <p>2020 © Usina - Comunicação Visual. Todos os direitos reservados.</p>
    <br />
    <p>Desenvolvido por <a href="">Thomas Edson</a></p>
  </div>
</footer>
